%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.success {
    @extend %message;
    background-color: lightgreen;
    border: 1px solid darkgreen;
}
.failure {
    @extend %message;
    background-color: lightblue;
    border: 1px solid darkblue;
}
.error {
    @extend %message;
    background-color: lightcoral;
    border: 1px solid darkred;
}
